{% extends "layout.njk" %}
{% block content %}
<main>
    <h1 class="container" style="display: flex; justify-content: center; padding-top: 5rem;">
        <div class="spin">{{ title }}</div>
    </h1>
</main>
{% endblock %}